.SocialSharingButtons ul.share-buttons       { padding:0; list-style:none; }
.SocialSharingButtons ul.share-buttons li    { display:inline; }
.SocialSharingButtons .share-buttons-svg img { width:32px; }